Create a python Github template which will be used for the python codes in the Data Engineering Class
Requiremnts of the Repository/Template:
-devcontainer
    -Docker file
    -env.json
-makefile
-Github Actions
-requirements.txt
-README.md
